<div class="tile quadro triple-vertical bg-color-red" style="cursor: default;">
  <div class="tile-content">
      <h1 style="margin-top: 30px;font-size: 30px; ">About</h1>
      <h2 style="font-size: 26px;">.........................................................................................</h2><br>
      
        <p style="font-size: 14px"> <img src="assets/images/ShimaPic.jpg" style="margin: 10px; float: left">
I understand how difficult it is to go off to work leaving the children in someone else's care. I can make it easier and worry-free day for you knowing that your child will be well taken care of.
I am a qualified educator with an Attestation in Early Childhood Education from lasalle College. I have a good educational background in Nutrition and Dietetics and with several years of experience in a large daycare facility as an educator.
I provide a warm and nurturing family home environment with close supervision and good quality care. I will provide your child with tender loving care, understanding, patience and guidance in a happy family setting.

I provide nutritious snacks and lunch in clean and safe environment. My house is smoke and pet free. 
We spend our day learning things through play, singing and dancing, doing arts and crafts, experiencing age appropriate science and math activities, story telling, cooking and baking, picnic and visits to the park, water park or indoor gross motor activity.
We are located at 1831 Rene-Levesque west #202,Montreal,QC,H3H1R4, close to Concordia University, It is 5 minutes walk to 2 metro stations (Guy-Concodia) &amp; Bus No. 165,166,66. 
Feel free to give me a call @+1(514) 3039837 or even for just a visit to see for yourself. Hope to hear from all of the amazing families and looking forward to meeting all of you.  

Receipts/forms will be provided for the Quebec refund, the fee will go down as low as $8 after refund.</p>
   </div>
</div>