<div class="tile-group" style="width: 700px; margin-top: 30px;">
        
    <div class="tile bg-color-white" style="width: 100px; height: 25px; margin-left: 110px;">
        <h4><strong style="color: #0099FF">Monday</strong></h4>    
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Tuesday</strong></h4>
      
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Wednesday</strong></h4>
      
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Thursday</strong></h4>
      
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Friday</strong></h4>
      
    </div>
     <div class="tile bg-color-white" style="border-width: 5px; width: 100px; height: 100px">
         <img src="assets/images/BreakFast.jpg">
    </div>
     <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
          
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Oven omelet with Chopped Apple </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Cooked oatmeal &amp; strawberry Cream Cheese</p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Low Sugar Cereal with Milk</p> 
   
    </div>
     <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
          <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">  strawberry Cream Cheese Toased with Milk </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Omelette Sandwich with Milk</p> 
   
    </div>
     <div class="tile  bg-color-white" style="width: 100px; height: 100px">
         <img src="assets/images/Snack.jpg">
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Fruit Salad </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">

        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Banana Muffin, Blueberry &amp; strawberry</p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Some Pices of Fruit with Apple Dip </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
       <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Persian Cucumber Yugort   </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">  Peach Yugort with Slice of Avocado &amp; Apple</p> 
   
    </div>
    <div class="tile  bg-color-white" style="width: 100px; height: 100px">
        <img src="assets/images/Lunch.jpg">
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Chicken,Rice,Fruit Yugort &amp; Water  </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Macaroni &amp; beef,Toffee Strawberry and Water </p> 
   
    </div>
      <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">vegetable omlet and raspberry and parfaits water
</p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Chicken schnitzel &amp; season salad water , Caramel Custard
</p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Brown Rice &amp; lentils, Pine Apple  jello &amp; water
</p> 
   
    </div>
     <div class="tile  bg-color-white" style="width: 100px; height: 100px">
         <img src="assets/images/Snack2.jpg">
    </div>
  <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">  pretzel sticks, slice of carrot with hummus
</p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
          <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> banana with carrot cake </p> 
   
    </div>
 <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> blueberry granola bars with milk </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
           <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">cheddar cheese crisps, honey whole wheat toasted</p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
           <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mashed sweet Potato &amp; cracher </p> 
   
    </div>
</div>