<div class="grid">
    <div class="row">
        <div class="span4 bg-color-magenta" style="height:450px; padding-top: 20px; padding-left: 20px;">  
                 
                        <h2 class="fg-color-white" style="margin-left: 30px">Contact Info</h2>
                        <h2 class="fg-color-white" style=" margin-left: 30px">.............................</h2>
                        <div class="tile-content">
                                   <address style="color: #FFFFFF"><strong style="color: #000000">Address:</strong><br>1831 Rene-Levesque west #202<br>Montreal Qc<br>
                                                H3H1R4
                                   </address>
                            <address style="color: #FFFFFF"><strong style="color: #000000">Phone:</strong><br>+1(514) 3039837 <br></address>
                            <address style="color: #FFFFFF"><strong style="color: #000000">Cell:</strong><br>+1 (438) 9316868<br></address>
                            <address style="color: #FFFFFF"><strong style="color: #000000">Email:</strong><br>Sh_Alipoor2006@yahoo.com</address>
                    
                        </div>
          </div> 
        
        <div class="offset4 bg-color-yellow" style="height:450px; padding-top: 20px;">
            
             <h2 class="fg-color-white" style="margin-left: 30px">Find Us Here </h2>
             <h2 class="fg-color-white" style=" margin-left: 30px">.............................</h2>
             <div style="padding-left: 20px">
               <iframe width="350" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=H3H1R4,1831+Rene-Levesque+west+%23202,Montreal,+Qc&amp;aq=&amp;sll=45.492042,-73.576876&amp;sspn=0.010514,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=1831+Boulevard+Ren%C3%A9-L%C3%A9vesque+Ouest+%23202,+Montr%C3%A9al,+Quebec+H3H+2P7,+Canada&amp;t=m&amp;ll=45.492029,-73.576899&amp;spn=0.012034,0.029955&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
               
                 
             </div>
        </div>
    </div>
</div>