<div class="grid">
    <div class="row">
        <div class="span4 bg-color-magenta" style="height:450px; padding-top: 20px; padding-left: 20px;">  
                 
                        <h2 class="fg-color-white" style="margin-left: 30px">Contact Info</h2>
                        <h2 class="fg-color-white" style=" margin-left: 30px">.............................</h2>
                        <div class="tile-content">
                                   <address style="color: #FFFFFF"><strong style="color: #000000">Address:</strong><br>1831 Rene-Levesque west #202<br>Montreal Qc<br>
                                                H3H1R4
                                   </address>
                            <address style="color: #FFFFFF"><strong style="color: #000000">Phone:</strong><br>+1(514) 3039837 <br></address>
                            <address style="color: #FFFFFF"><strong style="color: #000000">Cell:</strong><br>+1 (438) 9316868<br></address>
                            <address style="color: #FFFFFF"><strong style="color: #000000">Email:</strong><br>Sh_Alipoor2006@yahoo.com</address>
                    
                        </div>
          </div> 
        
        <div class="offset4 bg-color-yellow" style="height:450px; padding-top: 20px;">
            
             <h2 class="fg-color-white" style="margin-left: 30px">Find Us Here </h2>
             <h2 class="fg-color-white" style=" margin-left: 30px">.............................</h2>
             <div style="padding-left: 20px">
               <iframe width="350" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.90347476346!2d-73.57943448447855!3d45.49188847910123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6eb90346af%3A0x7500c60cb675a4cb!2s1831+Ren%C3%A9-L%C3%A9vesque+Blvd+W%2C+Montreal%2C+QC+H3H+1R4!5e0!3m2!1sen!2sca!4v1541039862759"></iframe>
            </div>
        </div>
    </div>
</div>