<div style="margin-top: 20px">
    <div class="shortcut" style="width: 198px">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (Arrival, Greeting time, free play)
       </span>
       <span class="badge">8:00am to 8:15am </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (separation by ratio)
       </span>
       <span class="badge">8:15am to 8:30am  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (hygiene)
       </span>
       <span class="badge">8:30am to 8:45am  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
         (snack time) 
       </span>
       <span class="badge">8:45am to 9:15am  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (hygiene)
       </span>
       <span class="badge">9:15am to 9:30am  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
(directed activity)        </span>
       <span class="badge">9:30am to 9:45am </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (work shop)
       </span>
       <span class="badge"> 9:45am to 10:30am </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (hygiene)
       </span>
       <span class="badge">10:30am to 10:45am </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (free play, outside)
       </span>
       <span class="badge">10:45am to 11:45am  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (transition)
       </span>
       <span class="badge">11:45am to 12:00  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
         (hygiene)
       </span>
       <span class="badge">12:00pm to 12:15pm</span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
         (lunch time)
       </span>
       <span class="badge">12:15pm to 12:45pm </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (hygiene)
       </span>
       <span class="badge"> 12:45pm to 13:00pm  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (preparing to sleep).
       </span>
       <span class="badge">13:00pm to 13:15pm </span>
   </div>
    
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (nap time)
       </span>
       <span class="badge">13:15pm to 15:00pm  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (clean up)
       </span>
       <span class="badge"> 15:00pm to 15:15pm   </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (hygiene)
       </span>
       <span class="badge">15:15pm to 15:30pm </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (snack time)
       </span>
       <span class="badge">15:30pm to 16:00pm </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (hygiene)
       </span>
       <span class="badge">16:00pm 16:15pm   </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
          (free activities) 
       </span>
       <span class="badge">16:15pm to 16:30pm  </span>
   </div>
    <div class="shortcut">
       <span class="icon">
           <i class="icon-red"></i>
       </span>
       <span class="label">
           (free play)
       </span>
       <span class="badge">16:30pm to 17:00     </span>
   </div>
    </div>