<div class="listview fluid">
    <div class="image-collection p4x3">
        <div class="image-container"><img src="assets/images/IMG_1070.jpg"></div>
        <div class="image-container"><img src="assets/images/IMG_1078.jpg"></div>
        <div class="image-container"><img src="assets/images/IMG_1488.jpg"></div> 
        <div class="image-container"><img src="assets/images/IMG_1091.jpg"></div> 
         <div class="image-container"><img src="assets/images/IMG_1525.jpg"></div> 
         <div class="image-container"><img src="assets/images/IMG_1526.jpg"></div> 
    </div>
</div>