 


<div style="background-image: url('assets/images/Header_Bg.jpg'); background-repeat: repeat-x; background-position: left top; height: 105px; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1100; ">
</div>

<div class="page secondary with-sidebar">
        <div class="page-header" style="margin-top: 105px; height: 200px;">
            <div class="page-header-content">
                 <img src="assets/images/ButterflyLogo.jpg"/>
                 <img src="assets/images/logo.png"/>
                <img src="assets/images/children_pic2.png" style="position: relative; top: 70px; z-index: 1000; right: -10px;" />
            </div>
        </div>    
         
        <app-sidebar></app-sidebar>        

        <div class="page-region">
            <div class="page-region-content">                                         
                <router-outlet></router-outlet>
            </div>
        </div>
</div>

<div style="background-image: url('assets/images/BgButterfly.jpg'); background-repeat: repeat-x; background-position: left bottom; height: 400px; ">
        <strong style="position: relative; bottom: 0px; left: 0px; top: 400px; ">All Right Reserved 2013      Designed by Faraztrade@gmail.com</strong>
</div>


