.socialIconWrapper a {
    display: inline-block;
 }
 .socialIconWrapper a.facebookLink {  
     display: inline-block;
    background-image: url('../../assets/images/socialLogos.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 3% 7%;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    width: 100px;
    height: 100px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}
.socialIconWrapper a.facebookLink:hover {
    background-color: transparent !important;
}

.socialIconWrapper a.instagramLink {  
    display: inline-block;
    background-image: url('../../assets/images/socialLogos.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 50% 7%;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    width: 100px;
    height: 100px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}
