<div class="page-sidebar" style="margin-top: 20px">
  <ul>
             <li class="sticker sticker-color-blue">
                 <a [routerLink]="['/home']"><i class="icon-cube"></i>Home</a>
             </li>
           
             <li class="sticker sticker-color-blueLight"> 
                 <a [routerLink]="['/about']"><i class="icon-cube"></i>About</a>
             </li>
             <li class="sticker sticker-color-magenta">
                 <a [routerLink]="['/schedules']"><i class="icon-cube"></i>Schedules</a>
             </li>
             <li class="sticker sticker-color-pink"> 
                 <a [routerLink]="['/tuition']"><i class="icon-cube"></i>Tuition</a>
             </li>
             <li class="sticker sticker-color-yellow dropdown" data-role="dropdown">
                 <a><i class="icon-list"></i>Meal Menus</a>
                 <ul class="sub-menu light sidebar-dropdown-menu">
                     <li><a [routerLink]="['/mealmenu']">First Offer</a></li>
                     <li><a [routerLink]="['/mealmenu2']">Second Offer</a></li>
                 </ul>
             </li>
             <li class="sticker sticker-color-purple">
                 <a [routerLink]="['/policy']"><i class="icon-cube"></i>Policies</a>
             </li>
             <li class="sticker sticker-color-red">
                 <a [routerLink]="['/gallery']"><i class="icon-cube"></i>Photo Gallery</a>
             </li>
             <li class="sticker sticker-color-orange">
                <a [routerLink]="['/iranianservices']"><i class="icon-cube"></i>Iranian Featured Services</a>
             </li>
             <li class="sticker sticker-color-greenLight">
                 <a [routerLink]="['/contact']"><i class="icon-cube"></i>Contact</a>
             </li>
         </ul>
  <div class="icon-phone" style="font-size:large; margin-left: 10px;"><br><span>+1 (514) 3039837</span></div>
  <div class="socialIconWrapper">
        <a href="https://www.facebook.com/daycarebutterfly" class='facebookLink'></a>
        <a href="https://www.instagram.com/butterfly_daycare_montreal" class='instagramLink'></a>
  </div> 
</div>