<div class="tile-group" style="width: 700px; margin-top: 30px;">
        
    <div class="tile bg-color-white" style="width: 100px; height: 25px; margin-left: 110px;">
        <h4><strong style="color: #0099FF">Monday</strong></h4>    
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Tuesday</strong></h4>
      
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Wednesday</strong></h4>
      
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Thursday</strong></h4>
      
    </div>
    <div class="tile bg-color-white" style="width: 100px; height: 25px;">
        <h4><strong style="color: #0099FF">Friday</strong></h4>
      
    </div>
     <div class="tile bg-color-white" style="border-width: 5px; width: 100px; height: 100px">
         <img src="assets/images/BreakFast.jpg">
    </div>
     <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
          
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">    Bagel Gone Banana With Cream Cheese and Milk </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mini Piza and Milk blueberry </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Whole wheat berry,hot cereal with milk </p> 
   
    </div>
     <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
          <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Mini Mashroom &amp; Turkey breast with milk </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">CrepCream cheese and boiled egg with milk</p> 
   
    </div>
     <div class="tile  bg-color-white" style="width: 100px; height: 100px">
         <img src="assets/images/Snack.jpg">
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Strawberry orange Muffine  </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">

        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sun Parfait With pretzel Sticks </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Crunchy Granola Wedges with fresh fruits salad </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
       <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Yummy molasses Crackles   </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">  Papaya Avocado salad </p> 
   
    </div>
    <div class="tile  bg-color-white" style="width: 100px; height: 100px">
        <img src="assets/images/Lunch.jpg">
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Simply Lasagna &amp; Fruit , Yogurt and Water </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Rice &amp; Tuna,Sun salad Jello With water </p> 
   
    </div>
      <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Potato Pie  &amp; Fruit , Yogurt and jello Water</p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Chicken Stack &amp; Season salad, Apple,Stawberry,Jello &amp; water </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Spaghetti &amp; Meatballs,Fruity Pizza Pie And Water </p> 
   
    </div>
     <div class="tile  bg-color-white" style="width: 100px; height: 100px">
         <img src="assets/images/Snack2.jpg">
    </div>
  <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
         <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Banana Buffin and Milk </p> 
   
    </div>
   <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
          <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Wrap, Roll &amp; Skewero And Milk </p> 
   
    </div>
 <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
        <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Honey Apple,Banana Cake &amp; Milk </p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
           <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Grilled Peaches &amp; Cream Cheese Toasted</p> 
   
    </div>
    <div class="tile border border-color-orange bg-color-white" style="padding: 2px; border-width: 5px; width: 100px; height: 100px;">
           <p style="color: #FF0066; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Strawberry Macadamia Faux Yugort &amp; whole wheat muffin </p> 
   
    </div>
</div>